DB_HOST=candidate-db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=candidate_db
ADDR=0.0.0.0:8081
JWKURL=http://keycloak:8080/realms/trainee-match/protocol/openid-connect/certs

KAFKA_BROKERS=kafka-1:9092,kafka-2:9092,kafka-3:9092
KAFKA_CLIENT_ID=candidate-service
KAFKA_PRODUCER_ACKS=all
KAFKA_PRODUCER_LINGER=10ms
KAFKA_CANDIDATE_TOPIC=candidate.events
KAFKA_RESUME_TOPIC=resume.events
KAFKA_MAX_ATTEMPTS=5
OUTBOX_RELAY_MIN_SLEEP=50ms
OUTBOX_RELAY_MAX_SLEEP=5s
OUTBOX_RELAY_WORKER_COUNT=3
OUTBOX_RELAY_BATCH_SIZE=100
OUTBOX_MESSAGE_BASE_RETRY_DELAY=5s
SCHEMA_REGISTRY_BASE_URL=http://schema-registry:8081
