KC_URL=http://keycloak:8080
KC_REALM=trainee-match
KC_CLIENT_ID=auth_backend
KC_CLIENT_SECRET=UAaVKlGqGXZs2LXZPiV3uFYCblmrEhJ8
KC_ADMIN_USERNAME=admin
KC_ADMIN_PASSWORD=admin

KAFKA_BROKERS=kafka-1:9092,kafka-2:9092,kafka-3:9092
KAFKA_CLIENT_ID=auth
KAFKA_PRODUCER_ACKS=all
KAFKA_PRODUCER_LINGER=10ms
KAFKA_USER_TOPIC=user.events

SCHEMA_REGISTRY_URL=http://schema-registry:8081

OUTBOX_USER_TOPIC=user.events
OUTBOX_BASE_RETRY_DELAY=5s
OUTBOX_MAX_RETRIES=5
OUTBOX_BATCH_SIZE=100
OUTBOX_RELAY_MIN_SLEEP=50ms
OUTBOX_RELAY_MAX_SLEEP=5s
OUTBOX_RELAY_WORKER_COUNT=2

POSTGRES_HOST=auth-postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_NAME=auth_db
POSTGRES_SSL_MODE=disable