CANDIDATE_HOST=candidate-service
CANDIDATE_PORT=8081

COMPANY_HOST=company-service
COMPANY_PORT=8080

APPLICATION_HOST=application-service
APPLICATION_PORT=8080

AUTH_HOST=auth-service
AUTH_PORT=8000